<!DOCTYPE html>
<html style="background-color: skyblue;">
<head>
    <title>Login</title>
</head>
<body>
    <center>
        <h1>Login</h1>
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <button type="submit">Login</button>
        </form>
        <p>New user? <a href="{{ url_for('register') }}">Register</a></p>
    </center>
</body>
</html>
